# ---------------------------
# Python Cache
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------
# Measurements (dein Output)
# ---------------------------
measurements/
measurements/**

# ---------------------------
# Virtual Environments
# ---------------------------
venv/
.env/
.venv/

# ---------------------------
# IDE / Editor
# ---------------------------
.vscode/
.idea/

# ---------------------------
# OS Dateien
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Logs
# ---------------------------
*.log
*.csv
*.xlsx
*.json
